[submodule "airootfs/etc/skel/.config/nvim"]
	path = airootfs/etc/skel/.config/nvim
	url = https://github.com/StratOS-Linux/StratVIM.git
[submodule "airootfs/usr/share/grub/themes/StratOS-grub"]
	path = airootfs/usr/share/grub/themes/StratOS-grub
	url = https://github.com/StratOS-Linux/StratOS-grub
